.SContainer {
    display: flex;
    flex-direction: column;
   
    width: 250px;
    height: 300px;
    margin:5% auto;
    padding: 15px 5px;
    font-family:Roboto;
	justify-content: space-around;
	align-items: center;
}

.inputClass {
	height: 35px;
	width: 95%;
}

.signUp-Button{
	background: #A03037 0% 0% no-repeat padding-box;
	border-radius: 3px;
	width: 100%;
	opacity: 1;
	flex-grow:0.1;
	color: white;
}