.Book-Container {
    display: flex;
    width: 50vw;
    height: 100vh;
    margin-left: 8%;
    margin-bottom: 2%;
  }
  
  .mainBookcardContainer {
    display: flex;
    justify-content: center;
    width: 55vw;
    
  }
  
  .img1 {
    background: transparent url("../../Assets/Image\ 11.png") 0% 0% no-repeat padding-box;
    background-size: 100%;
    width: 35px;
    height: 50px;
    opacity: 1;
    border: 1px solid aliceblue;
  }
  .img2 {
    background: transparent url("../../Assets/Image\ 11.png") 0% 0% no-repeat
      padding-box;
    background-size: 100%;
    width: 35px;
    height: 50px;
    opacity: 1;
  }
  
  .bookContainerWithbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    width: 768px;
  }
  .bookCardImg {
    display: flex;
    border: 1px solid gray;
    width: 220px;
    height: 220px;
    justify-content: center;
    align-items: center;
  }
  
  .bookImg {
    background: transparent url("../../Assets/Image\ 11.png") 0% 0% no-repeat padding-box;
    background-size: 100%;
    width: 160px;
    height: 200px;
    opacity: 1;
  }
  
  .btnAddto {
    margin-top: 8%;
  }
  
  .bookDetailsContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    
  }
  .bookDetails{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .customerFeedback{
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  
  .ratingContainer {
    width: 557px;
    height: 150px;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    opacity: 1;
  }
  
  .customerRating {
    margin-left: 5%;
  }
  
  .inputFeedback {
    width: 90%;
    height: 40px;
    margin-left: 4%;
    border: none;
    margin-bottom: 2%;
  }
  .Button-Addto {
    display: flex;
    justify-content: space-around;
    width: 285px;
    padding-top: 20px;
    cursor: pointer;
  }
  
  
  